.main_unapp{
    height: 60px;

}

.main_bar{
    padding: 10px;

}

@media screen and (min-width: 1000px) {
    .window_search {
        position: absolute;
        top: 40%;
    }
}

@media screen and (min-width: 750px) and (max-width: 1000px){
    .window_search {
        position: absolute;
        top: 30%;
    }
}

@media screen and (min-width: 650px) and (max-width: 750px){
    .window_search {
        position: absolute;
        top: 20%;
    }
}


@media screen and (min-width: 800px) {
    .window_search > #custom-search-input {
        background-color: rgba(178, 178, 178, 0.45);
        border-radius: 20px;
        padding: 22px;
    }
}



