.main_unapp {
    height: 150px;
}

.search-logo {
    width: 30%;
    padding-top: 25px;
}

.index-background {
    background: url('background.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100vh;
}

/* subject styles */

.photo-size{
    max-height: 250px;
    max-width: 250px;
    width: 100%;
    height: auto;
}

.select-teacher{
    font-size: 13px;
}

.subjectInfo {
    /*margin-top: 150px;*/
}

.star-rating {
    list-style-type: none;
    font-size: 175%;
    color: gold;
    cursor: pointer;
    width: 100%
}

ul {
    padding: 0;
    list-style-type: none;
}

.star-rating li {
    display: inline-block;
    margin: 1.5%;
}

.display-rating {
    float: left;
    clear: both;
    padding: 5px;
    width: 100%;
}

.star-prom-rating {
    list-style-type: none;
    font-size: 215%;
    color: gold;
    cursor: pointer;
    width: 100%
}

.star-prom-rating li {
    display: inline-block;
    margin: -0.9999%;
}

/* subject styles end */

@media screen and (min-width: 1000px) {
    .window_search {
        position: absolute;
        top: 25%;
    }

    /* subject styles */
    .subjectInfo {
        /*margin-top: 150px;*/
    }

    /* subject styles end */
}

@media screen and (min-width: 850px) and (max-width: 1000px) {
    .window_search {
        position: absolute;
        top: 20%;
    }
}

@media screen and (max-width: 850px) {
    .window_search {
        position: absolute;
        top: 15%;
    }
    /* subject styles */
    .subjectInfo {
        /*margin-top: 80px;*/
    }

    /* subject styles end */
}


.window_search > #custom-search-input {
    background-color: rgba(44, 47, 75, 0.9);
    border-radius: 20px;
    padding: 22px;
}



/*  comment sections css*/

.info-comment{
    overflow: hidden;
}

.date-comment{
    padding-left: 5px;
    font-size: 12px;
}
.login-comment{
    white-space: normal;
}



.thumbnail {
    padding: 0px;
}

.panel {
    position: relative;
}

.panel > .panel-heading:after, .panel > .panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel > .panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.panel > .panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}


.link-profesor {
    width: 90px;
    white-space: normal;
    float: right;
    margin: -8px -5px 8px 8px;
}

.color-1 {
    background: white;
}


.color-1 a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #009688;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 10px;
}

.color-1 a:hover {
    outline: none;
}


/* Effect 14: border switch */
.cl-effect-14 a {
    padding: 0 2px;
    line-height: normal;
    height: 65px;
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
    position: absolute;
    width: 63px;
    height: 1px;
    background: #009688;
    content: '';
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
}

.cl-effect-14 a::before {
    top: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}

.cl-effect-14 a::after {
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after {
    opacity: 1;
}

.cl-effect-14 a:hover::before{
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
    -moz-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after{
    right: 50%;
    -webkit-transform: rotate(0deg) translateX(50%);
    -moz-transform: rotate(0deg) translateX(50%);
    transform: rotate(0deg) translateX(50%);
}


/* Navbar and Content */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.navbar-logo {
    height: 30px;
}

.main-content {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-logo {
        height: 35px;
    }

    .main-content {
        margin-top: 70px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-logo {
        height: 40px;
    }

    .main-content {
        margin-top: 70px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar-logo {
        height: 50px;
    }

    .main-content {
        margin-top: 80px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
}

/* Clickable element */

.clickable-element {
    cursor: pointer;
}

.non-clickable-element {
    cursor: not-allowed;
}

.voting-container {
    float: right
}

.ng-switch-container {
    width: auto;
    float: left;
}

.positive-vote {
    float: left;
    margin-right: 10px;
    -webkit-transition: color 100ms ease-out 100ms;
    -moz-transition: color 100ms ease-out 100ms;
    -o-transition: color 100ms ease-out 100ms;
    transition: color 100ms ease-out 100ms;;
}

.positive-vote:hover {
    color: green;
}

.negative-vote {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-transition: color 100ms ease-out 100ms;
    -moz-transition: color 100ms ease-out 100ms;
    -o-transition: color 100ms ease-out 100ms;
    transition: color 100ms ease-out 100ms;
}

.negative-vote:hover {
    color: red;
}

.select-upvote {
    color: green;
    text-shadow: 1px 1px 1px #fff, 3px 3px 3px green;
}

.select-dwnvote {
    color: red;
    text-shadow: 1px 1px 1px #fff, 3px 3px 3px red;
}

.content-positive-vote {
    width: auto;
    float: left;
    margin-right: 10px;
}

.content-negative-vote {
    width: auto;
    float: left;
}